<%= form_for(treino) do |f| %>
  <% if treino.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(treino.errors.count, "error") %> prohibited this treino from being saved:</h2>

      <ul>
      <% treino.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :inferior %>
    <%= f.text_area :inferior %>
  </div>

  <div class="field">
    <%= f.label :triceps %>
    <%= f.text_area  :triceps %>
  </div>

  <div class="field">
    <%= f.label :abslombar %>
    <%= f.text_area  :abslombar %>
  </div>

  <div class="field">
    <%= f.label :dorsais %>
    <%= f.text_area  :dorsais %>
  </div>

  <div class="field">
    <%= f.label :deltoides %>
    <%= f.text_area  :deltoides %>
  </div>

  <div class="field">
    <%= f.label :biceps %>
    <%= f.text_area  :biceps %>
  </div>

  <div class="field">
    <%= f.label :peitorais %>
    <%= f.text_area  :peitorais %>
  </div>

  <div class="field">
    <%= f.label :series %>
    <%= f.number_field :series %>
  </div>

  <div class="field">
    <%= f.label :repeticoes %>
    <%= f.number_field :repeticoes %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
