</br><h1><center>Confira seu Treino Personalizado</h1></center>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Inferior</th>
      <th>Triceps</th>
      <th>Abslombar</th>
      <th>Dorsais</th>
      <th>Deltoides</th>
      <th>Biceps</th>
      <th>Peitorais</th>
      <th>Series</th>
      <th>Repeticoes</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @treino.inferior %></td>
        <td><%= @treino.triceps %></td>
        <td><%= @treino.abslombar %></td>
        <td><%= @treino.dorsais %></td>
        <td><%= @treino.deltoides %></td>
        <td><%= @treino.biceps %></td>
        <td><%= @treino.peitorais %></td>
        <td><%= @treino.series %></td>
        <td><%= @treino.repeticoes %></td>
      </tr>
  </tbody>
</table>
