<br><h1><center> Confira seu treino completo!</h1></center>

<p>
  <strong>Inferior:</strong>
  <%= @treino.inferior %>
</p>

<p>
  <strong>Triceps:</strong>
  <%= @treino.triceps %>
</p>

<p>
  <strong>Abslombar:</strong>
  <%= @treino.abslombar %>
</p>

<p>
  <strong>Dorsais:</strong>
  <%= @treino.dorsais %>
</p>

<p>
  <strong>Deltoides:</strong>
  <%= @treino.deltoides %>
</p>

<p>
  <strong>Biceps:</strong>
  <%= @treino.biceps %>
</p>

<p>
  <strong>Peitorais:</strong>
  <%= @treino.peitorais %>
</p>

<p>
  <strong>Series:</strong>
  <%= @treino.series %>
</p>

<p>
  <strong>Repeticoes:</strong>
  <%= @treino.repeticoes %>
</p>

<center><p>
  <strong>Email:</strong>
  <%= @treino.email %>
</p></center>

<%= link_to 'Back', users_show_path %>
