</br><h1><center>Meus Dados</center></h1>

<div class="container">
  <p><h3>Consulte e atualize seus dados.</h3></p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th><center>Nome</center></th>
      <th><center>Peso</center></th>
      <th><center>Altura</center></th>
      <th><center>Email</center></th>
      <th><center>Telefone</center></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @user.nome+" " + @user.sobrenome %></td>
        <td><%= @user.peso %></td>
        <td><%= @user.altura %></td>
        <td><%= @user.email %></td>
        <td><%= @user.telefone %></td>
      </tr>
  </tbody>
</table>
</br>

<div align="right">
Mudanças no peso? <%= link_to 'Atualize aqui',edit_user_registration_path%></div>
